.desktop-img { display: block; }
.mobile-img { display: none; }
.card-container{
    width: 563px;
    height: 625px;
    border-radius: 22px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F7FE;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    width: 535px;
}
.player-img{
    width: 535px;
    height: 300px;
    border-radius: 12px;
}
.card-info{
    width: 535px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 0px 10px 0px;
}
.title{
    font-family: 'Inter', Arial;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: #393B4B;
}
.description{
    font-family: 'Inter', Arial;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #393B4B;
}

.buttons{
    height: 43px;
    width: 535px;;
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-family: 'Inter', Arial;
    font-weight: 500;
    font-size: 16px;
}
.button1{
    width: 259.5px;
    height: 43px;
    border: 1px solid #1658E7;
    border-radius: 6px;
    padding: 12px 10px;
    text-align: center;
    cursor: pointer;
    color: #1658E7;
}
.button2{
    width: 259.5px;
    height: 43px;
    border: 1px solid #1658E7;
    border-radius: 6px;
    padding: 12px 10px;
    text-align: center;
    cursor: pointer;
    background-color: #1658E7;
    color: #ffffff;
}